.pio
.vscode
.idea
*.elf
*.hex
*.lst
*.bin
*.map
minichlink/minichlink
minichlink/minichlink.so
compile_commands.json
.cache
ch32fun/generated_*.ld
**/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
